@import '../../styles/settings.scss';

/* all buttons */

.component {
  border-radius: $radius-circle;
  position: relative;

  @include flex(column, center, center);

  /* minus button */

  &.minus {
    background-color: $color-warning;
    box-shadow: 0 4px 5px lighten($color-warning, 20%);
    height: $base-size * 2.5;
    width: $base-size * 2.5;
    margin: $base-size;
  }
  
  &.minus::after {
    position: absolute;
    content: '';
    border-bottom: 3px solid $color-light;
    width: $base-size;
  }

  /* plus button */

  &.plus {
    background: linear-gradient(lighten($color-success, 10%) 25%, lighten($color-plus, 10%));
    box-shadow: 2px 5px 6px lighten($color-plus, 30%);
    height: $base-size * 3.5;
    width: $base-size * 3.5;
    margin: 0 $base-size * 2.6;
  }
  
  &.plus::after {
    position: absolute;
    content: '';
    border-bottom: 3px solid $color-light;
    width: $base-size;
  }
  
  &.plus::before {
    position: absolute;
    content: '';
    border-left: 3px solid $color-light;
    height: $base-size;
  }

/* big plus button */

  &.bigplus {
    height: $base-size * 8;
    width: $base-size * 8;
    margin: 0;
    background: linear-gradient(lighten($color-success, 10%), 50%, lighten($color-plus, 15%));
    opacity: 0.9;
    box-shadow: 3px 8px 12px 3px lighten($color-plus, 30%);
    padding: $base-size * 1.2;
    background-clip: content-box; 
    background-color: $color-light;
    margin-left: $base-size * 20;
    align-self: flex-start;
  }
  
  &.bigplus::after {
    position: absolute;
    content: '';
    border-bottom: 6px solid $color-light;
    width: $base-size * 2;
  }
  
  &.bigplus::before {
    position: absolute;
    content: '';
    border-left: 6px solid $color-light;
    height: $base-size * 2;
  }
  
}

.component:hover {
  cursor: pointer;
}