@import '../../styles/settings.scss';

.items {
  @include flex(row, space-between, center);
  width: 250px;
  align-self: end;
  position: relative;
  border: 1px solid lighten($color-dark, 70%);
  border-radius: $radius-standard;
  margin: $base-size/2 0;
  margin-left: $base-size * 5;
  font-size: $base-size * 1.7;
}

.complicated {
  @include flex(row, space-between, center);
  
  .text {
    width: 250px;
    border: 1px solid lighten($color-dark, 70%);
    border-radius: $radius-standard;
    padding: $base-size;
    margin: 0;
    font-size: $base-size * 1.7;
  }
}

.text {  
  color: lighten($color-dark, 20%);
  margin: 0 $base-size;
  font-family: $font-text;
  font-weight: 700;
}

/* horizontal line left to SubCard */

.items::after {
  content: "";
  position: absolute;
  width: $base-size * 5.2;
  height: $base-thickness;
  left: -($base-size * 5.2);
  background-color: lighten($color-dark, 50%);
}

/* OR text next to vertical line */

.items::before {
  content: "Or";
  position: absolute;
  left: -($base-size * 8);
  font-family: $font-text;
  color: lighten($color-dark, 50%);
}