@import '../../styles/settings.scss';

.component {
  color: $color-light;
  font-family: $font-text;
  font-weight: 700;
  font-size: $base-size * 2.2;
  text-shadow: 2px 2px 2px lighten($color-dark, 20%);
  border-radius: $radius-standard;
  background: linear-gradient($color-secondary, $color-primary);
  text-align: center;
  padding: ($base-size * 1.7) ($base-size * 5);
  align-self: flex-start;
  margin-left: $base-size * 12;
  min-width: 300px;
}