@import '../../styles/settings.scss';

.component {
  width: 60%;
  margin: 0 auto;
  padding: $base-size * 3;
  padding-bottom: $base-size * 5;
  @include flex(column, center, center);
}

/* vertical line divider next to Cards */

.cardsWrapper {
  @include flex(column, flex-end, center);
  border-left: $base-thickness solid lighten($color-dark, 50%);
  padding: ($base-size * 4.2) 0;
}

.buttonWrapper {
  align-self: flex-start;
  max-width: 200px;
  
  // margin-left: $base-size * 8.5;
}