@import '../../styles/settings.scss';

.component {
  background: linear-gradient($color-primary, $color-secondary);
  border-radius: $radius-standard 0 0 $radius-standard;
  margin-top: $base-size * 2;
  margin-left: $base-size * 6.6;
  width: 420px;
}

.componentInner {
  margin: $base-size 0 $base-size $base-size;
  position: relative;
  background-color: $color-light;
  font-family: $font-text;
  font-size: $base-size * 1.8;
  color: lighten($color-dark, 50%);
}


.simple {
  border-radius: 0 $radius-standard $radius-standard 0;
  box-shadow: 2px 4px 6px lighten($color-dark, 70%);
  padding: $base-size;

  @include flex(row, space-between, center);
}

.complicated {
  border-radius: 0 $radius-standard $radius-standard 0;
  box-shadow: 2px 4px 6px lighten($color-dark, 70%);
  padding: $base-size * 2;

  @include flex(column, center, flex-start);
}

.text {  
  color: lighten($color-dark, 20%);
  margin: 0 $base-size;
  font-family: $font-text;
  font-weight: 700;
}

.content {
  @include flex(row, flex-start, normal);
}

/* horizontal line left to Card */

.simple::after, .complicated::after {
  content: "";
  position: absolute;
  width: $base-size * 6.6;
  height: $base-thickness;
  left: -($base-size * 7.6);
  background-color: lighten($color-dark, 50%);
}

/* AND text next to vertical line */

.simple::before, .complicated::before {
  content: "And";
  position: absolute;
  left: -($base-size * 13);
  font-size: $base-size * 1.7;
}

/* vertical line divider in complicated Card section (Card with SubCards)*/

.subcardsWrapper {
  border-left: $base-thickness solid lighten($color-dark, 50%);
  padding: $base-size * 1 0;
  align-self: flex-end;
}

.buttonWrapper {
  margin-left: $base-size * 2.2;
}

